@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import 'tailwindcss';


@theme {
  --font-family-sans: 'Pixelify Sans', system-ui, sans-serif;
  --color-main-green-50: #edfcf6;
  --color-main-green-100: #d3f8e7;
  --color-main-green-200: #abefd3;
  --color-main-green-300: #74e0b8;
  --color-main-green-400: #3ccb9e;
  --color-main-green-500: #1bc696;
  --color-main-green-600: #0c8f6d;
  --color-main-green-700: #097259;
  --color-main-green-800: #095b48;
  --color-main-green-900: #094b3c;
  --color-main-green-950: #042a23;
}

body {
  font-family: var(--font-family-sans);
}

/* 1. Definimos el movimiento */
@keyframes slide-to-left {
  to { transform: translateX(-100%); }
}

@keyframes slide-from-right {
  from { transform: translateX(100%); }
}

/* 2. Aplicamos la animación a las transiciones */

/* La página VIEJA se va hacia la izquierda */
::view-transition-old(root) {
  animation: .25s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

/* La página NUEVA entra desde la derecha */
::view-transition-new(root) {
  animation: .25s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* --- ANIMACIONES INVERSAS (PARA VOLVER) --- */

@keyframes slide-to-right {
  to { transform: translateX(100%); }
}

@keyframes slide-from-left {
  from { transform: translateX(-100%); }
}

/* Solo se activan si el HTML tiene la clase 'back-transition' */
:root.back-transition ::view-transition-old(root) {
  animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}

:root.back-transition ::view-transition-new(root) {
  animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}
