@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import 'tailwindcss';


@theme {
  --font-family-sans: 'Pixelify Sans', system-ui, sans-serif;
  --color-main-green-50: #edfcf6;
  --color-main-green-100: #d3f8e7;
  --color-main-green-200: #abefd3;
  --color-main-green-300: #74e0b8;
  --color-main-green-400: #3ccb9e;
  --color-main-green-500: #1bc696;
  --color-main-green-600: #0c8f6d;
  --color-main-green-700: #097259;
  --color-main-green-800: #095b48;
  --color-main-green-900: #094b3c;
  --color-main-green-950: #042a23;
}

body {
  font-family: var(--font-family-sans);
}
